body {
    font-family: sans-serif;
}

input, textarea {
    display: block;
}

.contactFormInputs, .todoFormInputs {
    display: block;
}

#cvNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cvNav ul li {
    display: inline;
}

.bVideos {
    width: 560px;
    height: 315px;
    border: none;
}
